* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

.leftc {
  color: #fff;
}

.rightc {
  padding: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 35% auto;
  max-width: 650px;
}

.wrapper .my-name {
  font-size: 1.4rem;
  background-color: rgb(5, 153, 141);
  font-style: oblique;
  color: beige;
  padding: 15px;
}

.wrapper .heading-style {
  background-color: rgb(0, 127, 113);
  font-size: 140%;
  font-weight: 100;
}

.wrapper .info-style {
  background-color: rgb(5, 153, 141);
  font-style: oblique;
}

.wrapper .heading-padding {
  padding: 5px 15px;
}

.wrapper .info-padding {
  padding: 0 15px 15px 15px;
}

.info-style > a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
}

.info-style > ul {
  list-style: none;
}

.wrapper .zebra li:nth-child(odd) {
  font-weight: 600;
  font-style: normal;
  padding-top: 15px;
}

.wrapper .my-info-padding {
  padding: 15px;
}

.padding-top-bottom {
  padding: 5px 0;
}

.big-block-exp > h3 {
  color: rgb(0, 127, 113);
  padding: 0 0 3px 0;
}

.partial-exp {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.date {
  font-style: italic;
  font-size: 85%;
}

div.details > ul {
  list-style-type: circle;
  list-style-position: inside;
}

.main-topic {
  font-weight: 600;
}

.main-topic-place {
  display: block;
  font-style: italic;
  font-size: 0.7rem;
  padding: 3px 5px;
}

@media print {
  .leftc {
    color: #fff !important;
    -webkit-print-color-adjust: exact;
  }

  .wrapper .my-name {
    background-color: rgb(5, 153, 141) !important;
    -webkit-print-color-adjust: exact;
  }

  .wrapper .heading-style {
    background-color: rgb(0, 127, 113) !important;
    -webkit-print-color-adjust: exact;
  }

  .wrapper .info-style {
    background-color: rgb(5, 153, 141) !important;
    -webkit-print-color-adjust: exact;
  }
}
